@font-face {
    font-family: 'Young Serif';
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

.normal {
    font-weight: 400;
}

.semi_bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.white {
    background-color: hsl(0, 0%, 100%);
}

.stone_100 {
    background-color: hsl(30, 54%, 90%);
}

.stone_150 {
    background-color: hsl(30, 18%, 87%);
}

.stone_600 {
    color: hsl(30, 10%, 34%);
}

.stone_900 {
    color: hsl(24, 5%, 18%);
}

.bgc_stone_900 {
    background-color: hsl(24, 5%, 18%);
}

.brown_800 {
    color: hsl(14, 45%, 36%);
}

.rose_50 {
    color: hsl(332, 51%, 32%);
}

.rose_800 {
    background-color: hsl(330, 100%, 98%);
}

.border_radius_10 {
    border-radius: 10px;
}

.border_radius_20 {
    border-radius: 20px;
}

p {
    font-size: 16px;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    min-height: 200vh;
    font-family: 'Outfit', sans-serif;
}

h1, h2 {
    font-family: 'Young Serif', sans-serif;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 120%;
}

li {
    padding-left: 1.2em;
    margin-bottom: 1em;
}

li::marker {
    font-size: 0.8em;
    color: hsl(14, 45%, 36%);
}

main {
    min-height: inherit;
}

#card {
    width: 40%;
    padding: 2.5em;
}

#dish {
    width: 100%;
}

#preparation {
    padding: 0.8em;
    margin: 2em 0;
}

#preparation h3 {
    padding-left: 1em;
    margin-top: 0.7em;
}

#preparation ul {
    list-style: disc;
}

#preparation li::marker {
    color: hsl(332, 51%, 32%);
}

#ingredient ul, #instruction ol {
    padding-left: 1.3em;
}

#instruction li::marker {
    font-size: 1em;
    font-weight: bold;
}

.border_limit::after {
    height: 1px;
    display: block;
    background: hsl(30, 18%, 87%);
    border-bottom: 1px hsl(30, 18%, 87%);
    content: '';
    margin: 2em 0;
}

#nutrition {
    padding-left: 1em;
}

#table_nutrition {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

#table_nutrition td:first-child {
    padding: 1em 1em;
}

#table_nutrition td:last-child {
    padding-left: 0.7em;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

#table_nutrition tr:not(:last-child) {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

#table_nutrition tr:last-child td {
    padding-bottom: 0;
}

@media screen and (max-width: 375px) {

    h1 {
        font-size: 225%;
    }

    #card {
        width: 100%;
        border-radius: 0;
        padding: 2em;
    }

    #wrapper_dish {
        margin: -2em -2em auto;
    }

    #dish {
        border-radius: 0;
    } 

    #preparation {
        padding: 0.4em;
    }

   }
